<html lang="en">
<head>
    <link rel="shortcut icon" type="image/jpg" href="../static/blue.jpg"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/home">CouponShare</a>
        <a href="/add">Add Coupon</a>
        <a href="/about">About</a>
        {% if logged_in == 1 %}
            <a href="/logout">Log Out</a>
        {% else %}
            <a href="/login">Log in</a>
        {% endif %}
    </div>
    <p style="color: aliceblue;">Hi, {{ fname }} </p>
    <div style="color: aliceblue;">
        {% for code in codes_all %}
        <div style="background-color: rgb(107, 106, 106);">
            Store/Company : {{ code.Store }} <br>
            Added By : {{ code.Added_By }} <br>
            Code : {{ code.Code }} <br>
            Valid Upto : {{ code.Valid_Upto }} <br>
            Categories Applicable : {% for Categories in code.Valid_For %} 
                                    {{ Categories }},
                                    {% endfor %}
            <br>
            Additional Details : {{ code.Additional_Details }}
        </div>
        {% endfor %}
    </div>
</body>
</html>