<html lang="en">

<head>
    <link rel="shortcut icon" type="image/jpg" href="../static/blue.jpg" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>
    <div class="topnav">
        <a class="active" href="/home">CouponShare</a>
        <a href="/add">Add Coupon</a>
        <a href="/about">About</a>
        {% if 'email' in session %}
        <a href="/logout">Log Out</a>
        {% else %}
        <a href="/login">Log in</a>
        {% endif %}
    </div>
    <p style="color: aliceblue;">Hi, {{ fname }} </p>
    <p style="color: aliceblue;"> Coupon Redemptions Remaining: {{ Coupon_Redemptions }} </p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <div class="message" style="color: aliceblue;">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div style="color: aliceblue;">
        {% for code in codes_all %}
        <div style="background-color: rgb(107, 106, 106);">
            {% if code.Used == 0 %}
            Store/Company : {{ code.Store }} <br>
            Added By : {{ code.Added_By }} <br>
            Code : {{ code.Code }} <br>
            Added On : {{ code.Added_On }} <br>
            Valid Upto : {{ code.Valid_Upto }} <br>
            Categories Applicable : {% for Categories in code.Valid_For %}
            {{ Categories }},
            {% endfor %}
            <br>
            Additional Details : {{ code.Additional_Details }}<br>
            <button> <a href="/CouponUsed">I'm Using This Coupon</a></button>
            {% endif %}
        </div>
        <br>
        {% endfor %}
    </div>
</body>

</html>